@import url('https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7SUc.woff2');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.purple {
    color: #6415ff
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

/* NAVIGATION */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 24px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    width: 40px;
}

.nav__logo--title {
    margin-left: 12px;
    font-size: 24px;
    font-weight: 900;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    margin-left: 16px;
    font-size: 14px;
    padding-top: 4px;
    font-weight: bold;
    letter-spacing: .35px;
    border-bottom: 2px solid transparent;
    position: relative;
    margin: 0 24px;
}

.nav__link:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
}

.btn {
    background-color: #6415ff;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
}

/* HEADER */

.container {
    padding: 96px 0;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 24px;
}

.header__description {
    width: 40%;
}

.header__description--para {
    margin: 32px 0;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: white;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
}

.header__customers {
    margin: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

img {
    width: 100%;
}

.header__img--wrapper {
    width: calc(100% - 40%);
}

/* FEATURES */

.row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.section__tag {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.section__title {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.5;
    margin: 16px 0;
}

.section__para {
    text-align: center;
    font-size: 18px;
    color: #7c8ba1;
    line-height: 1.625;
    max-width: 576px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3);
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}


.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

/* QUALITY */

.quality__description {
    width: 50%;
    max-width: 576px;
    margin-right: 64px;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    font-weight: 700;
    letter-spacing: 1.6px;
}

.section__title {
    line-height: 1.25;
    font-size: 48px;
    color: rgb(36, 62, 99);
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}